@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  background-image: url('https://allaboutlemon.files.wordpress.com/2012/07/disco_lights_wallpaper_07e98.jpg');
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .removeDancersButton, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:5px solid red;
  border-radius:10px;
  position:absolute;
}

.lineup{
  padding: 5px 20px; 
  float: left;
}

.police {
  visibility: hidden;
}

.supportingDancer {
  opacity: 0.5;
  z-index: -1;
}

.mainDancer {
  animation: rotating 4s linear infinite;
}

.discoBall{
  width: 150px;
  margin: 0 auto;
  padding: 3px;
}

.discoBall img {
  height:150px;
  width: 150px;
  z-index: 1
}

.fog{
  height: 1200px;
  opacity: 0.5;
  border: 0;
  border-radius: 50px;
}